@{
    ViewBag.Title = "Оформить заказ";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        .order-form {
            max-width: 700px;
            margin: 100px auto;
            background-color: #fff;
            padding: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
            .order-form h1 {
                font-size: 24px;
                margin-bottom: 20px;
                text-align: center;
            }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="tel"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        input[type="radio"] {
            margin-right: 10px;
        }

        .note {
            font-size: 12px;
            color: #888;
        }

        button {
            background-color: #ff6633;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s ease;
        }

            button:hover {
                background-color: #ff5522;
            }

        .buttons-container {
            display: flex;
            justify-content: space-between;
        }

            .buttons-container button {
                flex: 1;
                font-size: 16px;
                padding: 8px 16px;
            }

        .button-like-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ccc; /* Цвет фона кнопки */
            color: #fff; /* Цвет текста */
            text-decoration: none; /* Убираем подчеркивание ссылки */
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

            .button-like-link:hover {
                background-color: #999; /* Цвет фона кнопки при наведении */
            }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оформление заказа</title>
</head>
<body>
    <div class="order-form">
        <h1>Оформление заказа</h1>
        <form action="/Home/NewOrder" method="post">
            <div class="form-group">
                <label for="address">Адрес доставки:</label>
                <input type="text" id="address" name="address" required>
            </div>
            <div class="form-group">
                <label>Способ оплаты:</label>
                <div class="payment-option">
                    <input type="radio" id="payment-card" name="payment_method" value="card" required>
                    <label for="payment-card" style="display: inline-block;">Картой</label>
                </div>
                <div class="payment-option">
                    <input type="radio" id="payment_cash" name="payment_method" value="cash" required>
                    <label for="payment_cash" style="display: inline-block;">Наличными при получении</label>
                </div>
            </div>

            <div class="form-group">
                <label for="phone">Номер телефона:</label>
                <input type="tel" id="phone" name="phone" required>
                <p class="note">Специалист свяжется с вами для уточнения деталей заказа.</p>
            </div>
            <div class="form-group">
                <button class="submit-order-button" type="submit" style="margin-right: 20px;">Оформить заказ</button>
                <a href="/Home/Cart" target="_blank" class="button-like-link">Отмена</a>
            </div>


        </form>
    </div>
</body>
</html>
