@{
    ViewBag.Title = "Авторизация";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Auth", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <style>
        .validation-errors ul{
            list-style-type: none;
            padding-left: 0; /* Убираем отступ слева */
            color: red;
        }

        .box {
            background: #b5add0;
            width: 300px;
            padding: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            border-radius: 15px;
            color: #271447;
        }
        .box input[type = "text"], .box input[type = "password"] {
            display: block;
            margin:  10px auto;
            text-align: center;
            padding: 10px 5px;
            width: 200px;
            font-size: 19px;
            border-radius: 10px;
            color: #271447;
            font-family: opensans;
        }
        #login_button
        {
            text-align: center;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 5px;
            padding: 5px 10px;
            font-family: opensans;
            color: #000; /*текст кнопки*/
            background-color: white; /*Цвет кнопки*/
            font-size: 18px;
        }
    </style>
    <div class="box">
        <h2>Войти</h2>
        <span class="validation-errors">
            @Html.ValidationSummary(true, "", new { @class = "text-danger",  @id = "validation-errors" })
        </span>
            
        
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" type="text" placeholder="Ваша почта" name="Email" />
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" id="password-input" placeholder="Введите пароль" name="password" />
            <label> <input type="checkbox" style="font-size: 15px" ; id="password-checkbox"> Показать пароль </label>
        </div>
        
        <input type="submit" id="login_button" value="Войти" />


        <p>Вы ещё не с нами? <a href="/Home/Registration">Зарегистрироваться</a></p>
    </div>
<script>
    function show_hide_password(target){
        var input = document.getElementById('password-input');
        if (input.getAttribute('type') == 'password') {
            input.setAttribute('type', 'text');
        }
        else {
            input.setAttribute('type', 'password');
        }
        return false;
    }
    document.body.addEventListener('click', e => {
        if (e.target.tagName === 'INPUT' && e.target.type === 'checkbox' && e.target.id === 'password-checkbox') {
            show_hide_password(this);
        }
    });
</script>
}